*.idea
/Easy_Route_Assistant/src/main/resources/application.yaml
/Easy_Route_Assistant/src/main/resources/application-local.yaml
/Easy_Route_Assistant/src/main/resources/application-dev.yaml
/.idea
!/.idea/
